<% form_for :spec do |form| %>
  <fieldset>
    <legend><%= @title %></legend>
    <%= error_messages_for 'spec' %>
    <%= text_field_for form, "first_name", Spec %>
    <%= text_field_for form, "last_name", Spec %>
    <div class="form_row">
      <label for="gender">Gender:</label>
      <%= radio_button :spec, :gender, "Male" %> Male
      <%= radio_button :spec, :gender, "Female" %> Female
    </div>
    <div class="form_row">
      <label for="birthdate">Birthdate:</label>
      <%= date_select :spec, :birthdate, 
                           :start_year => Spec::START_YEAR,
                           :end_year => Time.now.year,
                           :include_blank => true,
                           :order => [:month, :day, :year] %>
    </div>
    <%= text_field_for form, "occupation", Spec %>
    <%= text_field_for form, "city", Spec %>
    <%= text_field_for form, "state", Spec %>
    <%= text_field_for form, "zip_code", Spec, Spec::ZIP_CODE_LENGTH %>
    <%= submit_tag "Update", :class => "submit" %>
  </fieldset>
<% end %>